* {
    margin: 0;
    padding: 0;
}

section {
    margin: 100px auto 0 auto;
    position: relative;
    width: 400px;
    height: 400px;
    border-radius: 30px;
    border: 2px solid grey;
    box-shadow: 0 30px 20px #ccc;
}


section div {
    position: absolute;
    width: 60px;
    height: 60px;
    background: rgb(56, 56, 56);
    border-radius: 100%;
}

.b1 {
    right: 20px; top: 20px;
}

.b3 {
    bottom: 20px; left: 20px;
}

.b2 {
    top: 50%;
    left: 50%;
    margin: -30px 0 0 -30px;
}